
<div class="container">

<div class="col-lg-4 mx-auto">    
<h1>Editing Book</h1>
<%= form_with model: @book, url:book_path(@book.id), local:true do |f| %>
<p class=>Title</p>
<%= f.text_field :title %>
<p>Opinion</p>
<%= f.text_area :opinion %>
<%= f.submit "Update Book", class:"btn btn-success" %>

<% end %>
</div>
</div>